<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FluTracker" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "FluTracker" %>">
    <%= stylesheet_link_tag 'gmaps4rails' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
	 
	 <!-- Navigation Bar
	 ================================================== -->
	<header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
         <div class="container navbar-wrapper">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

	<!-- Main Content
    ================================================== -->
    <div id="main" role="main">
      <div class="container">
        <div class="content">
              <%= render 'layouts/messages' %>
              <%= yield :head %>
              <%= yield %>
              <%= yield :scripts %>
        </div>
	   </div> <!--! end of .container -->

    <!-- FOOTER -->    
      	<div class="container">
 			<%= render 'layouts/footer' %>
 		</div>
     
    </div> <!--! end of #main -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
  </body>
</html>
